@import "tailwindcss";


@font-face {
  font-family: 'GeosansLight';
  src: url(/public/fonts/GeosansLight.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;

}

body {  font-family: 'GeosansLight', sans-serif;
  background-color: #1e1e1e;
  color: white;
}